@import 'colors';
@import 'mixin';

body {
    display: flex;
    flex-direction: column;
}

.meal-gnr-text-block {
    max-width: 100vw;

}

.meal-gnr-question {
    @include font;
    font-size: 75px;
    font-weight: 700;
    color: $color1;
    text-shadow: 3px 4px 2px rgba(0, 0, 0, 0.2);

    @media screen and (min-width:0) and (max-width:620px) {
        margin: 35px auto;
        font-size: 55px;
    }

    @media screen and (min-width:621px) and (max-width:1300px) {
        width: 600px;
        margin: 35px auto;
    }

    @media (min-width:1301px) {
        margin: 35px 50px;
    }

}

.meal-gnr-additional {
    @include font;
    font-size: 25px;
    color: $color4;

    @media screen and (min-width:0) and (max-width:620px) {
        width: 320px;
        margin: 35px auto;
    }

    @media screen and (min-width:621px) and (max-width:1300px) {
        width: 620px;
        margin: -30px auto;
    }

    @media (min-width:1301px) {
        margin: -40px 240px;
    }
}

.meal-gnr-upper-block {
    display: flex;
    user-select: none;

    @media screen and (min-width:0) and (max-width:800px) {
        flex-direction: column;
        margin: auto;
    }
}

.meal-gnr-arrow {

    @media screen and (min-width:0) and (max-width:1300px) {
        display: none;
    }

    @media (min-width:1301px) {
        opacity: 0.1;
        height: 100px;
        align-self: flex-end;
        top: -120%;
        left: 0%;
        position: absolute;
    }

}

.meal-gnr-btn {
    background-color: $color4;
    color: $color5;
    @include font;
    font-size: 35px;
    height: 90px;
    margin: 180px -120px;
    padding: 20px 30px;
    position: relative;

    border-radius: 7px;
    border: none;
    box-shadow: 6px 7px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;


     

    @media screen and (min-width:0) and (max-width:620px) {
        margin: 50px auto 120px;
        width: 300px;
        font-size: 29px;
    }

    @media screen and (min-width:621px) and (max-width:1300px) {
        margin: 100px auto 120px;
        padding: 10px 25px;
        font-size: 29px;

    }

    @media (min-width:1301px) {
        padding: 20px 30px;

    }

}

.meal-gnr-ideas-title {
    @include font;
    font-size: 60px;
    font-weight: 600;
    margin: -140px auto -25px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
    color: $color1;
    user-select: none;
    opacity:0.5;


    .cooking-lab-ideas{
        margin-top:50px;

    }
    @media screen and (min-width:0px) and (max-width:1300px) {
        margin: -30px auto -25px;
        text-align: center;


    }

    @media (min-width:1301px) {
        margin: -100px auto -25px;

    }
}

#meal-gnr-ingr-title{
  align-self: flex-end;
  @include font;
  font-size: 32px;
  color: $color1;
}


#meal-gnr-recipe-title{
    display: none;
    @include font;
    font-size: 70px;
    color:$color1;
    font-weight: 600;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);
    margin:-100px 250px -50px;
    
    @media screen and (min-width:0px) and (max-width:1300px) {
        margin: 50px auto -25px;
        font-size:40px;


    }

   
}

#meal-gnr-recipes{
    display: none;
   

}

#recipe-loader{
    margin-bottom:150px;
    @media screen and (min-width:0px) and (max-width:321px) {
       margin:0 auto 40px;

    }
}

#meal-gnr-ingr-block{
    @media screen and (min-width:0px) and (max-width:321px) {
        max-width: 310px;;

    }
}

#meal-gnr-detailed-recipe{
    max-width:250px;
    height:40px;
    margin: 10px auto;
}