<div class="meal-short-info">
    <div class="meal-gnr-question" [id]="idTitle">
        <p id="recipe-main-title-text" class="recipe-title-text">{{title}}</p>

    </div>
    <app-main-block id="meal-gnr-recipe-block">
        <div>
            <img [src]="img" alt="" class="recipe-img" id="full-recipe-img">
            <app-detailed-recipe-btn *ngIf="type==='randomMealDetails'" [id]="id"></app-detailed-recipe-btn>
        </div>
        <div class="adding-ingr-block" id="full-recipe-ingr-block">
            <div class="meal-info">
                <div class="meal-area" id="recipe-area">
                    <div class="meal-area-text" id="recipe-area-text">
                        {{area}}
                    </div>
                </div>
                <div class="meal-area" id="recipe-category">
                    <div class="meal-area-text" id="recipe-category-text">
                        {{category}}
                    </div>
                </div>

            </div>
            <p class="info-lab-text recipe-subtitle">Ingredients:</p>
            <div class="subtitle-small-line"></div>

            <div class="ingredients-block">
                <app-ingredient *ngFor="let i of ingredientsList | async" [title]="i['ingr']" [measure]="i['measure']">

                </app-ingredient>
            </div>

            <div class="subtitle-long-line"></div>

        </div>

    </app-main-block>
</div>