@use "colors" as *;
@use "mixin" as * ;
$time: 0.6s;

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


.search-option-block {
    z-index: 5;
    opacity: 1;
    display: flex;
    margin: 5px 5px;
    flex-direction: column;
    width: 250px;
    background-color: $color5;
    border-radius: 7px;
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: all 0.7s;
    height:250px;
    overflow-y: scroll;

}

.search-option-block::-webkit-scrollbar{
    display: none;;
}


.search-div {
    @include vertical-center;
    gap: 10px;
    cursor: pointer;
    user-select: none;

}


.search-icon {
    user-select: none;
    height: 30px;
    transition: transform $time;
    @include transition($time, 1.07);
}



.search-input {
    font-size: 20px;
    @include font;
    background-color: $color5;
    height: 35px;
    width: 250px;
    border-radius: 5px;
    padding-left: 5px;
    border: 1px solid $color4;
    letter-spacing: 1px;
    outline: none;
    z-index: 2;
    transition: all 1s;
    position: relative;
    cursor: pointer;

    &:focus {
        border-color: transparent;
        transition: all 1s;
        // ~.search-option-block {
        //     opacity: 1;
        //     pointer-events: all;
        // }
    }

    &::placeholder {
        padding-left: 3px;
        color: $color4;
    }

    &:focus::placeholder {
        color: transparent;

    }

    &::selection {
        background: $color1;
    }

    &::-moz-selection {
        background: $color1;

    }

    &:focus~.border {
        width: 100%;
        height: 100%;
    }



}

.textbox {
    padding: 2px;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    overflow: hidden;
}
.border {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background: $color1;
    z-index: -1;
    transition: height 0.3s, width 0.3s 0.1s;
}

.additional-header-block {
    margin: auto;
    margin-top: 20px;

    @media screen and (min-width:0) and (max-width:325px) {

        display: flex;
        max-width: 95%;
        flex-direction: column-reverse;
        align-items: flex-end;
        gap: 15px;
    }

    @media (min-width:326px) {
        @include vertical-center;
        max-width: 95%;
        justify-content: space-between;
    }


}


.filter-icon {
    transition: transform $time;
    user-select: none;
    height: 34px;
    position: relative;
    @include transition($time, 1.07);

    @media screen and (min-width:0) and (max-width:325px) {
        margin-right: -3px;
        order: 1;

    }
}

.filter-overdiv {
    display: flex;
    transition:all 1s;
    position: relative;

}

.filter-block {
    position: absolute;
    // padding-left: -5px;

    @media screen and (min-width:0) and (max-width:325px) {
        left: 20px;
    }

    @media screen and (min-width:325) and (max-width:625px) {
        left: 20px;
    }

    left:50px;
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 10px;
    background-color: $color5;
    color: $color1;
    border: 2px solid $color1;
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;


}

// .show-filter-box {
//     opacity: 1;
//     pointer-events: all;
// }

#select-filter-area {
    margin: 10px 30px 0px;
    font-size: 16px;
    transition: all 0.7s;
    transform: none;

}

// .area-selector {
//     display: none;
//     pointer-events: none;
//     margin-bottom: 0;
// }

.show-area-selection {
    transition: all 0.5s;
    display: initial;
    pointer-events: all;
}

.search-option-block {
    z-index: 5;
    opacity: 1;
    display: flex;
    margin: 5px 5px;
    flex-direction: column;
    width: 250px;
    background-color: $color5;
    border-radius: 7px;
    box-shadow: 4px 7px 5px rgba(0, 0, 0, 0.3);
    position: absolute;
    transition: all 0.7s;
    height:250px;
    overflow-y: scroll;

}

.search-option-block::-webkit-scrollbar{
    display: none;;
}


.filter-btn-block {
    @include center;
    gap: 30px;
    margin: 10px 0 10px;

}

.filter-btn {
    border-radius: 5px;
    border: none;
    background-color: $color4;
    color: $color5;
    @include font;
    font-size: 15px;
    padding: 4px 15px;
    cursor: pointer;
    transition: all 0.7s;
    @include transition(0.7s, 1.09);

    &:disabled{
        opacity:0.5;
        transform:none;
    }
}



.recipe-form-input {
    @include font;
    font-size: 20px;
    height: 34px;
    border: 2px solid $color2;
    border-radius: 5px;
    margin: 0 45px;
    padding-left: 5px;
    transition: transform $time;

    &::-webkit-scrollbar {
        display: none;
    }

    &:focus {
        transform: scale(1.05);
        transition: transform $time;
    }

    &:focus::placeholder {
        color: transparent;
    }

    @media screen and (min-width:0) and (max-width:620px) {
        max-width: 210px;
    }


}

select {
    width: 200px;
}

option {
    font-size: 18px;
}

option[disabled][value=""] {
    opacity: 0.1;
}
