
    <div class="create-recipe-info-block">
        <p class="create-recipe-title">How to publish your own recipe?</p>
        <div class="recipe-instruct-block">
            <p class="instruct-sentence">
                1. Create a new recipe.
            </p>
            <p class="instruct-sentence">
                2. Prepare info about meal you wanna publish. It should be ingredients, measurements, final photo
                and optional link on Youtube.
            </p>
            <p class="instruct-sentence">
                3. Fill in form.
            </p>
            <p class="instruct-sentence">
                4. Wait for feedback.
            </p>

        </div>
    </div>
