<label  class="burger-menu-label">
    <input #burgerCheckbox type="checkbox" class="burger-checkbox">
    <nav class="burger-menu-block">

        <a routerLink='/' class="burger-menu-text short_text">All recipes</a>
        <a routerLink='/create-recipe' class="burger-menu-text long_text">Create recipe</a>
        <a routerLink='/cooking-lab' class="burger-menu-text short_text">Cooking lab</a>
        <a routerLink='/random-meal' class="burger-menu-text long_text">What to cook?</a>
    </nav>
    <img class="lower-header-burger-icon" src="img/burger_menu_icon.png" />
</label>