@use "colors" as *;
@use "mixin" as * ;


#full-recipe-page{
    min-height: calc(100vh - 145px);

}
#recipe-instruct-block {
    margin-top: -50px;
    max-width: 1100px;
    display: none;
}

.recipe-instruct-title {
    @include font;
    font-weight: 700;
    font-size: 40px;
    color: $color2;
    align-self: center;
    margin-top: 20px;

}

.recipe-instruction {
    @include font;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.br-recipe-step {
    font-weight: 700;
    ;
}

a {
    color: $color1;
}

.recipe-link {
    font-size: 27px;
    font-weight: 700;
    color: $color2;

}

.recipe-video {
    align-self: center;
    width: 700px;
    height: 450px;
    margin-bottom: 20px;

    @media screen and (min-width:0) and (max-width:500px) {
        height: 200px;
        width: 300px;
    }

    @media screen and (min-width:501px) and (max-width:750px) {
        height: 300px;
        width: 450px;
    }
}

.recipe-title-text{
    font-size:56px;
    
}
