@import "colors";
@import "mixin";

.ingr-item {
    @include font;
    align-self: flex-end;
    color: $color1;
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .ingr-title {
        font-size: 23px;

    }

    .ingr-measure {
        align-self: flex-end;
    }
}

